#headshot {
    height: 400px;
}

.greeting {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}

.about-me {
    font-size: 24px;
}

.resume-button {
    text-decoration: none;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

body {
    text-align: center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
